---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Not found | KDE">
  <div id="wrapper" class="page">
    <h1>NOT FOUND</h1>
    <p>You just hit a route that doesn't exist... the sadness.</p>
    <p><a href="/">Go back to the homepage</a></p>
  </div>
</BaseLayout>

<style>
  #wrapper.page {
    padding: 4rem 2rem;
    text-align: center;
  }
</style>
