---
import pic01 from '../assets/images/pic01.webp';
import pic02 from '../assets/images/pic02.webp';
import pic03 from '../assets/images/pic03.webp';
---

<div id="main">
  <article id="about">
    <h2 class="major">About</h2>
    <span class="image main">
      <img src={pic01.src} alt="" loading="lazy" decoding="async" />
    </span>
    <p>
      Created in 2005, KDE e.u.r.l. was a web agency specialized in email
      marketing and content management systems. <br />
      <br />
      Here is how it all began. <br />
      <br />
      Couple months after leaving an independant French record label (naïve)
      promotion department, I realized the need for the music industry to
      embrace online presence in order to face what would later be called <a href="#tech" data-switch-article="tech">digital transition</a>. Facing the rise of mp3 and the social network hatching (MySpace
      was big in 2005) the whole sector had to reinvent itself with a
      drastically new approach.
    </p>
    <p>
      After meeting Eduardo Makaroff, one of the founding member of band Gotan
      Project internationally know at the time, KDE accepted his challenge to
      accompany his young record label Mañana through this journey. And this is
      where the activity of the company spread from strictly tech services to <a href="#legal" data-switch-article="legal">businesses administration</a>, contracts negotiations, rights and artists managements.
    </p>
    <p>Among its clients, KDE is proud to have served:</p>
    <ul>
      <li>Mañana</li>
      <li>Hollie records</li>
      <li>Naïve</li>
      <li>Because</li>
      <li>Radio Nova</li>
      <li>M/M Paris</li>
      <li>Renault</li>
      <li>Millimages</li>
      <li>Loewe</li>
      <li>Syndicat de la Presse Sociale</li>
      <li>Mélanie Elbaz</li>
      <li>Vert Libre</li>
    </ul>
    <div class="close" data-close-article aria-label="Close"></div>
  </article>

  <article id="tech">
    <h2 class="major">Tech</h2>
    <span class="image main">
      <img src={pic02.src} alt="" loading="lazy" decoding="async" />
    </span>
    <p>
      In 2005, just before launching KDE, lots of Internet users were still
      deep into Flash, especially in the music industry where html appeared
      like a silent world. Like every decent developper at the time I was
      cultivating high <b>actionScript</b> skills interpolating objects with
      bouncing and elastic transitions and playing with alpha transparencies at
      a time when png were still very rare.
    </p>
    <p>
      As a <b>php/mysql</b> early adopter (I started php in 2000), I convinced
      my client that content management systems were the future, as well as
      client relationship management and that php was the best tool to achieve
      those goals. Fortunately, <b>css</b> came to the rescue so that the
      result wouldn't be too ugly compared to those flash components, still
      proliferating at the time. After deploying a few homemade cms, KDE
      provided its clients (mostly artists) <b>WordPress</b> solutions.
    </p>
    <p>
      Before Node, there was Javascript.<br /><br />Still in competition with
      the old flash, html had to transcend itself to compete. At this time the
      solution were called Javascript libraries : remember <b>MooTools</b>?
      Probably not. But <b>jQuery</b> lasted longer and Ajax of course. All
      those efforts aimed the same goal: provide a fancy interface without flash
      and adapt to a new way of consuming the Internet with the arrival of
      smartphones... As the navigators became more powerful, it became clear
      that the client side had won the battle against the server. And ten years
      later around 2015, I'd still make e-cards for my clients like I used to
      make in flash in 2005 but it was all <b>Javascript</b> then.
    </p>
    <p>
      Before Symfony, ther was php.<br /><br />The same story happened on the
      server side. Starting with php 4 I followed the evolution and was very
      satisfied with scripts like WordPress and PhpList (for mass emailings).
      Then, suddenly, on Twitter around 2011, I discovered the <b>Symfony</b>
      framework. I've never understand the appetite for frameworks, but with my
      php experience I really appreciated all that Symfony was bringing to this
      technology, like dependencies management, clean code and good practices.
      So here again, I dived into it but it was already the end of KDE and I've
      only put a couple of Symfony app in production.
    </p>
    <p>
      During all this time, hosting was pretty simple and straightforward. It
      was called: <b>Linux</b> dedicated server. I started with a little bit of
      FTP long time ago but switched very rapidly to <b>ssh</b> (scp, rsync) and
      all its power.
    </p>
    <p>
      There was no version control system, nor testing, nor containers, nor
      cloud deployment at KDE. There was no Node.js, nor React, nor Switch, nor
      Rest API... But the will to use all those and the basis to get to it was
      already there!
    </p>
    <p>
      All that is the past. <a href="#contact" data-switch-article="contact">Would you like to know what the future is made of?</a>
    </p>
    <div class="close" data-close-article aria-label="Close"></div>
  </article>

  <article id="legal">
    <h2 class="major">Legal services</h2>
    <span class="image main">
      <img src={pic03.src} alt="" loading="lazy" decoding="async" />
    </span>
    <p>
      Beside the purely technical web services, having a record label as its
      main customer had many consequences on KDE activity. The promotion and PR
      of course were a kind of community management ancestors. But another
      critical aspect of KDE mission was to provide legal and administration
      services, especially in this specific field that is music and rights
      management.
    </p>
    <p>
      French commercial laws and regulations can be tricky regarding accounting,
      manufactured goods, social security and all types of specifications.
      Therefore part of the work provided by KDE was focused on those legal
      aspects.
    </p>
    <p>
      Among the main KDE realisations in that matter, KDE excelled in day to day
      accounting and financial supervision for small businesses, annual
      accounting checks and balances, studio recordings organization, musicians
      contracting (tour/studio sessions), goods manufacturing and importation
      (books, clothes, records, goodies), taxe administration control,
      registering trademarks and companies, negotiating publishing licences and
      synchronization rights in France and overseas, recruiting interns and
      subcontractors.
    </p>
    <div class="close" data-close-article aria-label="Close"></div>
  </article>

  <article id="contact">
    <h2 class="major">Contact</h2>
    <p>
      Since 2017 KDE has ceased its activity but I didn't.<br />
      I'm still looking for new challenge to take. Now entirely dedicated to
      modern web infrastructures, I'll be happy to help you managing your
      next cloud native apps and finding your way in an ever changing world made
      of images, containers, clusters, pods and other instances 😀 <br />
      Shoot me an <a href="mailto:ed@kde.fr">email</a>, hit me on
      <a href="https://www.linkedin.com/in/edouard-lacan/">LinkedIn</a>, let me
      know what's up!
    </p>
    <ul class="icons">
      <li>
        <a href="mailto:ed@kde.fr" class="icon" aria-label="Email">
          <svg viewBox="0 0 512 512" aria-hidden="true"><path d="M502.3 190.8 327.4 338c-15.2 12.1-36.9 12.1-52.1 0L12.7 190.8C5.1 184.6 0 175.1 0 164.2V48C0 21.5 21.5 0 48 0h416c26.5 0 48 21.5 48 48v116.2c0 10.9-5.1 20.4-12.7 26.6zM48 96h416v-8H48v8zm0 32v220.1l192 152 192-152V128H48z"/></svg>
          <span class="label">Email</span>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/edouard-lacan/" class="icon" aria-label="LinkedIn">
          <svg viewBox="0 0 448 512" aria-hidden="true"><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.8V416z"/></svg>
          <span class="label">LinkedIn</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/taviani" class="icon" aria-label="GitHub">
          <svg viewBox="0 0 496 512" aria-hidden="true"><path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.4-112.2-14.1-112.2-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8z"/></svg>
          <span class="label">GitHub</span>
        </a>
      </li>
    </ul>
    <div class="close" data-close-article aria-label="Close"></div>
  </article>
</div>
