---
interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'KDE eurl | 2005-2017',
  description = 'A web agency dedicated to music and small businesses administration.',
} = Astro.props;

import '../styles/scss/main.scss';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="KDE, web agency, digital transition, music"
    />
    <meta name="author" content="Edouard Lacan" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta name="theme-color" content="#663399" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      as="image"
      href="/images/bg-2.webp"
      type="image/webp"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
